<div id="logo-section">
  <h1>Fugu</h1>
  <p>Personal Cost Tracker</p>
</div>

<div id="selection-section">
  <%= link_to "Create a Spreadsheet", new_spreadsheet_path %>
  <% if @spreadsheets.length > 0 %>
    <h4>Edit Spreadsheets</h4>
    <% @spreadsheets.each do |s| %>
      <%= link_to "Edit #{s.name}", spreadsheet_path(s) %>
    <% end %>
  <% end %>
</div>
