<h1>Fugu</h1>
<p>Personal Cost Tracker</p>

<button id="create-spreadsheet">Create Spreadsheet</button>

<!-- <div class="border">

  <div class="panel">
    <div class="panel-bar">
      <div class="panel-button border" id="add-income">
        Add Income
      </div>
      <div class="panel-button border" id="add-expense">
        Add an Expense Item
      </div>
      <div class="panel-button border" id="add-category">
        Add an Expense Category
      </div>
    </div>
  </div>

  <div class="border grid">
  </div>
  <div class="border balance">
    <h1>OVERALL</h1>
    <p>Income: </p>
    <p>Expense: </p>
    <p>Balance: </p>
  </div>
</div> -->
