.category-summary
  margin: 10px
  display: flex
  justify-content: space-around
  padding: 20px
  background: white
  cursor: pointer
  .summary
    width: 30%
  .summary.name
    text-transform: uppercase
    font-weight: 900
  .summary.detail
.category-summary:hover
  background: #333
  color: white
