@import "app/assets/stylesheets/base/variables"

*
  font-family: "Encode Sans Semi Condensed", "sans-serif"
  box-sizing: border-box

button, input#submit-button
  cursor: pointer

.border
  border: 1px solid lightgray
  vertical-align: top

#main-section
  box-shadow: 0px 2px 1px darkgray
  background: $main-bg
  display: flex
  justify-content: space-around
  max-height: 550px
  .grid
    display: inline-block
    width: 70%
    overflow: auto
  .grid::-webkit-scrollbar
    width: 5px
    height: 5px
  ::-webkit-scrollbar-button
    background: transparent
  ::-webkit-scrollbar-track-piece
    background: #eee
  ::-webkit-scrollbar-thumb
    background: gray
  .info-control
    display: inline-block
    width: 30%
    padding: 10px

.columns
  display: flex
  justify-content: space-around
  .column-wrapper
    padding: 10px 5px
.panel-bar
  display: flex
  justify-content: space-around

.panel-button
  width: 100%
  text-align: center
  margin: 3px
  border-radius: 3px
  background: $white
  cursor: pointer
  padding: 10px
  i
    display: block
.panel-button:hover, .panel-button.active
  font-weight: 900
  background: $button-hover-bg
  color: $button-hover-font
  border: 1px solid $button-hover-bg

#shell, #rails-shell
  max-width: 1200px
  margin: auto

@media screen and (max-width: 768px)
  .income-elements
    .income-bar-text
      height: 100%
      overflow: hidden
      visibility: hidden
  #main-section
    display: block
    max-height: none
    .info-control, .grid
      width: 100%
    .info-control
      box-shadow: 0px 0px 10px gray

@media screen and (min-width: 415px) and (max-width: 768px)
  .panel-bar i
    display: inline
    vertical-align: sub
    padding-right: 10px
  #input-modal
    .category-list
      text-align: center
      div.category-label
        width: 48%
        display: inline-block
        margin: 5px 3px

@media screen and (max-width: 414px)
  .grid
    div.category-summary
      justify-content: space-between
      .summary.detail.item
        display: none
  .navbar
    .right-panel
      width: 150px
