.category-panel
  display: flex
  justify-content: space-around
  .category-button
    padding: 5px
    width: 100%
    text-align: center
    cursor: pointer
    text-transform: capitalize
  .category-button:hover
    background-color: cadetblue
    font-weight: 900
