@import "app/assets/stylesheets/base/variables"

.item-box
  width: 100%
  // overflow: auto
  // border-left: 1px solid gray
  // border-bottom: 1px solid gray
  position: relative
  background: white
  margin: 5px 0
  border-radius: 3px
  padding: 5px
  p
    margin: 0px
  .item-name
    padding: 2px 5px 0
  .item-bottom-half
    display: flex
    justify-content: space-between
    .item-transaction-date
      padding: 0 2px
      text-align: left
      font-size: 0.7em
      align-self: flex-end
      font-style: italic
    .item-amount
      padding: 0 5px
      text-align: right
.item-box:hover
  background: $list-item-bg
  color: $list-item-font
  cursor: pointer
  .delete
    display: inline-block

// .odd-row:hover
// .even-row:hover

.column
  margin: 0 5px
  width: 100%
  display: inline-block
  .column-heading
    font-variant-caps: all-petite-caps
    padding: 5px

.delete
  position: absolute
  top: 2px
  right: 2px
  display: none
  background: gray
  width: 16px
  height: 16px
  border-radius: 20px
  text-align: center
  font-size: 0.75em
.delete:hover
  background: $red
  color: white
  font-family: "Trebuchet MS", Helvetica, sans-serif
