.income-bar
  background: lightgray
  border: 1px solid darkgray
  height: 30px

.income-bar-part
  display: inline-block
  cursor: pointer
.income-bar-part:hover
  opacity: 0.9
  border: 1px solid yellow
.expense-bar-part
  background: crimson
  height: 5px
