.income-bar
  background: repeating-linear-gradient(45deg, whitesmoke, whitesmoke 10px, gainsboro 10px, gainsboro 20px)
  border: 1px solid darkgray
  min-height: 45px

.income-bar-part
  display: inline-block
  cursor: pointer
  // height: 30px
  padding: 5px
  position: relative
  border: 1px solid transparent
.income-bar-part:hover
  z-index: 2
  opacity: 0.8
  border: 1px solid gray
  .delete
    z-index: 4
    display: inline-block

.expense-bar-part
  background: crimson
  height: 15px
