.income-bar
  background: lightgray
  border: 1px solid darkgray
  height: 30px

.income-bar-part
  display: inline-block
  cursor: pointer
  height: 25px
  position: relative
.income-bar-part:hover
  opacity: 0.9
  border: 1px solid yellow
  .delete
    display: inline-block
  .delete:hover
    color: red

.expense-bar-part
  background: crimson
  height: 5px
