a
  text-decoration: none
.spreadsheet-tab
  background-color: aliceblue
  border: 1px solid lightgray
  border-top: none
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px
  display: inline-block
  padding: 10px 15px
  color: #333
.active-tab
  background-color: whitesmoke
  font-weight: 900
  font-style: italic
