@import "app/assets/stylesheets/base/variables"

a
  text-decoration: none
.spreadsheet-tab
  background-color: lightgray
  border-top: none
  border-bottom-left-radius: 12px
  border-bottom-right-radius: 12px
  display: inline-block
  padding: 10px 15px
  color: #333
  box-shadow: inset 0px 2px 5px darkgray
.spreadsheet-tab:hover
  background-color: $main-bg
  border-bottom: 1px solid lightgray
.active-tab
  background-color: $main-bg
  border: 1px solid lightgray
  box-shadow: none
  font-weight: 900
  font-style: italic

.spreadsheet-tabs
  margin-bottom: 40px
