// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/variables"
@import "base/buttons"

.navbar
  width: 100%
  display: block
  text-align: right
  overflow: auto
  background: $accent-bg
  color: $accent-font
  padding: 10px
  .left-panel
    float: left
    a.logo
      top: -8px
      font-size: 2em
      position: absolute
      text-shadow: 1px 1px 1px black
  .right-panel
    float: right
    a:hover
      text-shadow: 0 0 10px white
  a
    color: $accent-font
    display: inline-block
    padding: 0 5px

.alert, .notice
  margin: 0px

#logo-section
  width: 80%
  margin: 10px auto
  padding: 10px
  .fugu-image
    position: absolute
    height: 100px
    z-index: -2
    transform: rotate(20deg)
    top: 50px
    right: 34%
  .logo
    vertical-align: sub
    text-shadow: 2px 2px 5px lightgray
  .sub-logo
    text-transform: uppercase
    margin-top: 0px
  .preview-div
    margin: 20px auto 30px

.error, .notice
  width: 80%
  margin: 10px auto
  border-radius: 3px
  text-align: center
  padding: 10px
  background: $white

.error > span
  border-bottom: 2px solid $red

.notice > span
  border-bottom: 2px solid $green

.center-box
  background: $gray
  border: 1px solid darken($gray, 10%)
  border-radius: 3px
  margin: 40px auto
  padding: 30px
  width: 70%

.center-text
  text-align: center

.logo
  font-family: $logo-font
  font-size: 1.7em
  font-weight: normal
