@import "base/variables"

.spreadsheet-select-box
  padding: 5px 20px
  text-align: center
  text-transform: capitalize
  margin: 2px 5px 5px
  display: flex
  justify-content: space-around
  div
    text-align: center
    width: 30%
.spreadsheet-select-box.select-header
  border-bottom: 2px solid $blue
.spreadsheet-select-box.select-body
  background: $white
  border-radius: 3px
  color: $black
  cursor: pointer
.spreadsheet-select-box.select-body:hover
  background: $black
  color: $white
