<div id="rails-shell">
  <%= content_tag :div,
    id: "root",
    data: {
      categories: @spreadsheet.get_categories,
      income: @spreadsheet.get_income,
      expenses: @spreadsheet.get_expenses,
      items: @spreadsheet.items,
      totalIncome: @spreadsheet.calculate_balance[:income],
      totalExpense: @spreadsheet.calculate_balance[:expense],
      balance: @spreadsheet.calculate_balance[:total],
      info: {
        id: @spreadsheet.id,
        title: @spreadsheet.name,
        currency: @spreadsheet.currency,
        user_id: @spreadsheet.user_id
      }
  }.to_json do %>
  <% end %>
</div>
